<!DOCTYPE html>
<html manifest='application.manifest'>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/editor.css' />
  </head>
  <body>
	  <!--<h1><%= title %></h1>-->
    <p>お疲れ様でした。ブラウザの閉じるボタンで閉じてください。</p>
    <p><a href="">docファイルを出力する。</a></p>
  </body>
</html>
