<!DOCTYPE html>
<html manifest='application.manifest'>
	<head>
		<meta charset="UTF-8">
		<title><%= title %></title>
		<script> var guser = <%- JSON.stringify(user) %>;</script>
		<link rel='stylesheet' href='/css/editor.css' />
		<audio id="popList" src="/audio/ping.mp3" preload="auto"></audio>
		<!-- <script type="text/javascript" src="/js/jquery-1.11.0.min.js"></script> -->
		<script type="text/javascript" src="/lib/tinymce/tinymce.js"></script> 
		<script type="text/javascript" src="/socket.io/socket.io.js"></script>
		<script type="text/javascript" src="/js/editor.js"></script>
	</head>
	<body>
		<div id="container">
			<form method="post">
				<div id="editorbox">
					<textarea id="script"></textarea>
				</div>

				<div id="infobox">
					<div><span id="keyCounter"></span></div>
					<div>字数:<span id="wordCounter">-</span>文字  <span id="lineCounter">-</span>行  <span id="pageCounter">-</span>ページ</div>	
					<div><input type="button" id="closeButton" value="保存して終了する"></div>
					<div>最終保存時刻:<span id = "lastUpdate"></span></div>
					<div>ネットワーク:<span id = "networkStatus"></span></div>
					<div>&nbsp;</div>
					<div>&nbsp;</div>
					<div id="actionRadioRequest"></div>
					<div id="radioList">
						<span id="radioTitle"></span>
						<ul>
							<li><input type="radio" id="action1" name="actionRadio" value="1">1: 顧客が何を求めているか考えています。 </li>
							<li><input type="radio" id="action2" name="actionRadio" value="2">2: 創作すべきもののイメージが決まっておらず、どうするか考えています。</li>
							<li><input type="radio" id="action3" name="actionRadio" value="3">3: 創作すべきもののイメージを持っており、それに基づき手を動かして作成をしています。 </li>
							<li><input type="radio" id="action4" name="actionRadio" value="4">4: 創作したものに間違いがないか自分のイメージ通りかをチェックしています。 </li>
							<li><input type="radio" id="action5" name="actionRadio" value="5">5: すでに創作されたものが誰にとってどのような意味や価値があるのか考えています。 </li>
							<li><input type="radio" id="action5" name="actionRadio" value="6">6: 上記のどれにも該当しない創作に関係する活動をしています。 </li>
							<li><input type="radio" id="action5" name="actionRadio" value="7">7: 創作とは全く関係のないことをしています。 </li>
							<li><input type="radio" id="action5" name="actionRadio" value="8">8: レビューを受けながら顧客の求めているものと創作の方向性についてコミュニケーションしています。  </li>
						</ul>

					</div>
				</div>
				<div id="clearbox"></div>
			</form>
		</div>
	</body>

</html>
